body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  max-width: 100vw;
  min-width: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageWrapper {
  height: calc(100vh - 100px);
  color: white;
  padding:0 !important;
}

#projectCards {
  color: black;
  width: 85%;
}

.card {
  border-radius: 0;
}

.backgroundImage {
   /* background-image: url(./components/assets/images/workshop.JPG); */
  /* background-position: center;
  object-fit: cover; */
  height:100%; 
  /* width:  100px; 
  height: 200px;  */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#backgroundImageHome {
  background-image: url(./components/assets/images/workshop.JPG);

}

#backgroundImageProjects {
  background-image: url(./components/assets/images/code-hero2.jpg);
  /* background-color: rgb(27, 15, 43); */
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  max-height: 200px;
  object-position: top;
}

.card, .card-img-top {
  border-radius: 0 !important;
}

#title {
  position: absolute;
  top:100;
}

.homeBtn {
  min-width: 100%;
  font-size: 2em;
  border-radius: 0px !important;
}

.projectButtons{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000000;
}

.projectButtonsWrapper{
  /* display: none; */
}

.projectButtonsWrapper:hover{
  /* display: unset; */
}

#nav-container {
  height: 100px;
  order: 2;
  z-index: 3;
}

nav {
  height: 100px;
  background-color: black;
  position: relative;
  /* transition: background-color 5s, visibility 5s;
  visibility: hidden; */
}

nav img {
  filter: invert(100%);
  transition: filter 5ss;
  height: 100px;
  width: 100px;
}

.nav-border {
  border-top: 5px dashed white;
  width: 80vw;
  display: block;
}

.langIcons {
  font-size: xx-large;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.projImgWrapper {
  position: relative;
}

.projImgWrapper i {
  margin: 3px;
}

@media (max-width: 768px) { 
   #projectsWrapper{
    height: 100%;
  }
  .card-img-top {
    height: 40vw;
    max-height: unset;
  }
 }

 @media (max-width: 576px) { 
 
  #brandName {
    display: none;
  }
  }